section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #8a35c8;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.img-sobre img{
    background: linear-gradient(to right, #8a35c8, #18c063, #00eea2);
	background-size: 180% 180%;
	animation: gradient-animation 5s ease infinite;
    border-radius: 10%;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #8a35c8;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
    color: #fff;
}